{% extends 'KassnerFinancesBundle::layout.html.twig' %}

{% set page_title = "Create Payee"|trans %}

{% block body -%}
<h1>{{ "Create Payee"|trans }}</h1>

<div class="panel panel-default">
    <div class="panel-body">
        {{ form(form) }}
    </div>
</div>
{% endblock %}
